{% extends 'portfolio/app.html' %}
{%  block content %}
    <div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for project in projects%}
        <div class="col mb-4">
            <div class="card h-100">
            <img class="card-img-top" src="{{ project.image.url}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ project.title}}</h5>
                <p class="card-text">{{ project.description}}</p>
            </div>
            </div>
        </div>
        {% endfor %}       
    </div>           
  </div>
{%  endblock  %}